
.game-container {
    position: relative;
    max-width: 78rem;
    height: 26rem;
    background: linear-gradient(0deg, var(--color-background) 0%, var(--color-info-dark) 35%, var(--color-dark) 100%);
    border: 2px solid var(--color-info-dark);
    overflow: hidden;
    border-radius: var(--border-radius-1);
    font-family:monospace;
}

.cube {
    position: absolute;
    bottom: 5px;
    left: 50px;
    width: 60px;
    height: 60px;
    background-image: url(../images/game/charC.gif);
    background-size: cover;
}

.obstacle {
    position: absolute;
    bottom: 10px;
    background-color: var(--color-danger);
    border-radius: var(--border-radius-2);
    height: 40px;
    width: 40px;
    right: 0;
}

.score {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-info-dark);
    font-size: 18px;
    z-index: 10; 
}

.restartGame{
    background-color: brown;
    scale: 1.4;
}


.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10; 
}

.restart-button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.high-score {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.re-start{
    font-size: 6rem;
    color: var(--color-background);
    transition: 0.3s;
}

.re-start:hover{
    font-weight: bolder;
    scale: 1.05;
    transition: 0.3s;
}

.start-text {
    text-align: center;
    color: var(--color-background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
    display: none;  /* Initially hidden */
    
}
.start-text span{
    font-size: 8rem;
    transition: 0.3s;
}

.start-text span:hover{
    color: var(--color-info-dark);
    font-size: 9rem;
    transition: 0.3s;
}

.start-text span:active{
    scale: 0.9;
}